html {
  font-family: Arial, sans-serif;
  font-size: 1rem;
  line-height: 1.25;
  position: absolute;
  overflow: hidden;
  width: 100%;
  background: none;
}

.slds-form-element,
.slds-file-selector {
  width: -webkit-fill-available;
}

#form {
  display: inline-flex;
  width: 100%;
}

#completion-text {
  min-inline-size: fit-content;
  margin-left: auto;
  margin-right: 4px;
}

#file-name {
  display: inline-block;
  overflow: hidden;
  text-overflow: ellipsis;
  z-index: 2;
  font-weight: bold;
}

.buttons {
  text-align: center;
  vertical-align: middle;
  border: 1px solid #dddbda;
  color: #fff;
  border-radius: 0.25rem;
  font-size: inherit;
  cursor: pointer;
  padding: 0.25rem 0.5rem;
}

input[type='file'] {
  display: none;
}

.custom-file-upload {
  display: block;
  background-color: #0070d2;
  padding: 8px;
  white-space: nowrap;
}

.disabled {
  background-color: gray;
}

.custom-file-upload:focus {
  background-color: #205fb2;
}

.custom-file-upload:hover {
  background-color: rgb(1, 68, 134);
}

#progress-container {
  margin: 0 0 0 0;
  transform: translateY(-15%);
  width: 42%;
  visibility: hidden;
}

#progress-bar-text {
  font-weight: bold;
}
